<h1>{{ donutCtrl.title}}</h1>
<div class="row">
  <form class="col s12" ng-submit="donutCtrl.createDonut()">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="donutCtrl.newDonut.name"  id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="donutCtrl.newDonut.picUrl" id="picUrl" type="text" class="validate">
        <label for="picUrl">Picture URL</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="donutCtrl.newDonut.price" id="price" type="number" class="validate">
        <label for="price">Price</label>
      </div>
    </div>
     <button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>
  </form>
</div>
