<DOCTYPE>
<html ng-app='pokeApp'>
  <head>
    <meta charset="utf-8">

    <title>Poke Masters API Challenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body >
<div  ng-controller="pokeController as pCtrl" >
  <form ng-submit="">
    <input type="text" name="pokeName" ng-model="pCtrl.search">
    <button type="submit" name="button">Search for a Pokemon</button>
  </form>

Name:
<br>
Id:

<div class="">
  <ul>
    <li ng-repeat="pokemon in pCtrl.pokedex">
      {{ pokemon.name }}
    </li>
  </ul>
</div>
</div>

</body>
</html>
