/*body{*/
/*    background-color:red;*/
/*}*/
html{
    font-size:70px;
}
.half{
    background-color:blue;
    width:50vw;
    height:200px;
    margin:auto;
}
.emnem{
    font-size:2rem;
}

@media (min-width:768px){
    body{
        background-color: green;
    }
}
@media (min-width:1024px){
    body{
        background-color: purple;
    }
}