<!DOCTYPE html>
<html ng-app="Restaurant">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
</head>
<body ng-controller="FoodController as ctrl">


	<div class="container-fluid">
		<h1 class="text-center">Welcome to {{ctrl.restaurant.name}}!</h1>
		<h3 class="text-center">{{ctrl.restaurant.description}}</h3>

		<div class="row">
			

			<div class="col-xs-8">
				
				<div class="row">
					<div ng-repeat="plate in ctrl.restaurant.menu.plates" class="col-xs-6 menu-item" ng-click="ctrl.addToOrder(plate)">
						
						<div class="row">
							<div class="col-xs-12">{{plate.name}}</div>
							<div class="col-xs-12">{{plate.description}}</div>
							<div class="col-xs-6 col-xs-offset-6 text-right">{{plate.price | currency}}</div>
						</div>

					</div>
				</div>

			</div>

			<!-- Order sidebar -->
			<div class="col-xs-4">
				<div class="row">
					<div class="col-xs-12">
						<h4> My Order </h4>
						<hr>
					</div>
					<div class="col-xs-12" ng-repeat="orderItem in ctrl.currentOrder.plates track by $index">
						{{orderItem.name}}
					</div>
					{{ctrl.currentOrder.totalPrice() | currency}}
				</div>
			</div>

			

		</div>

	</div>


<script type="text/javascript" src="restaurant.js"></script>
<script type="text/javascript" src="restaurant.foodController.js"></script>
<script type="text/javascript" src="restaurant.foodFactory.js"></script>

</body>
</html>